{% extends 'base.html' %}

{% block content %}
<h1>Рецепты</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card recipe-card">
            <img src="https://placehold.co/200x150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Оладушки</h5>
                <p class="card-text text-muted">Баба Нина</p>
                <p class="card-text">Домашние оладушки по рецепту прабабки. Вкус дества и дух советской жизни. Всего 5 ингридентов.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}