{% macro create_form(action, recipe=None) %}
<form class="mt-4" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-4">
            <label for="name" class="form-label">Название</label>
            <input type="text" name="name" id="name" class="form-control" required value="{{ request.form.get('name') or recipe.name or '' }}">
        </div>
        <div class="col-lg-2">
            <label for="time" class="form-label">Время приготовления</label>
            <input type="number" name="time" id="time" class="form-control"
            placeholder="кол-во минут" min="1" required value="{{ request.form.get('time') or recipe.time or '' }}">
        </div>
        <div class="col-lg-2">
            <label for="portions" class="form-label">Количество порций</label>
            <input type="number" name="portions" id="portions" class="form-control" min="1"
            required value="{{ request.form.get('portions') or recipe.portions or '' }}">
        </div>
        {% if action == 'new' %}
        <div class="col-lg-4">
            <label for="formFileMultiple" class="form-label">Изображения</label>
            <input class="form-control" type="file" id="formFileMultiple" name="images" accept="image/*" multiple required>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="description" class="form-label">Описание</label>
                <textarea name="description" id="description" class="form-control">{{ request.form.get('description') or recipe.description or '' }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="ingredients" class="form-label">Ингредиенты</label>
                <textarea name="ingredients" id="ingredients" class="form-control">{{ request.form.get('ingredients') or recipe.ingredients or '' }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="steps" class="form-label">Шаги приготовления</label>
                <textarea name="steps" id="steps" class="form-control">{{ request.form.get('steps') or recipe.steps or '' }}</textarea>
            </div>
        </div>
    </div>
    <div class="container" id="saveRecipeFormButton">
        <button type="submit" class="btn btn-primary h-100 w-100">Отправить</button>
    </div>
</form>

{% block scripts %}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
    const easyMDE1 = new EasyMDE({element: document.getElementById('description')});
    const easyMDE2 = new EasyMDE({element: document.getElementById('ingredients')});
    const easyMDE3 = new EasyMDE({element: document.getElementById('steps')});
</script>
{% endblock %}

{% endmacro %}