{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Оладушки</h1>
    <p class="text-muted">Автор: Баба Нина</p>

    <div class="row mb-4">
            <div class="col-md-6">
                <div class="card stat-card">
                    <div class="card-body text-center">
                        <div class="stat-value text-primary">Порции</div>
                        <div class="text-muted">Всего игр</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card stat-card">
                    <div class="card-body text-center">
                        <div class="stat-value text-success">Время приготовления</div>
                        <div class="text-muted">15 мин</div>
                    </div>
                </div>
            </div>
        </div>

    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Описание</h2>
                Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Ipsum образ последний, путь продолжил раз запятой рекламных текста рукопись взгляд, обеспечивает свою злых даже возвращайся, точках ручеек осталось. Себя.
            </div>
        </div>
    </div>
    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Ингридиенты</h2>
                Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Она, имени, это оксмокс правилами диких большого маленький рыбного всемогущая, на берегу даль дорогу безорфографичный пор злых ее великий выйти себя?
            </div>
        </div>
    </div>
    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Шаги приготовления</h2>
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Языкового они там, это послушавшись диких предупреждал строчка даже lorem одна безопасную живет города текст моей дороге вскоре несколько раз!
            </div>
        </div>
    </div>
    <h2>Отзывы</h2>
    <div class="mb-5 mx-5">
        <div class="container p-3" id="leaveFeedback">
            <a href="" class="btn btn-primary h-100 w-100">Оставить отзыв</a>
        </div>
        <div class="card">
            <div class="d-flex justify-content-between px-4 py-3">
                <p class="text-primary">Автор</p>
                <p>Отлично</p>
            </div>
            <div class="card-body">
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Языкового они там, это послушавшись диких предупреждал строчка даже lorem одна безопасную живет города текст моей дороге вскоре несколько раз!
            </div>
        </div>
    </div>
</div>

{% block scripts %}
{% endblock %}

{% endblock %}