{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ recipe.name }}</h1>
    <p class="text-muted">Автор: {{ author.name }}</p>

    <div class="row mb-4">
            <div class="col-md-6">
                <div class="card stat-card">
                    <div class="card-body text-center">
                        <div class="stat-value text-primary">Порции</div>
                        <div class="text-muted">{{ recipe.portions }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card stat-card">
                    <div class="card-body text-center">
                        <div class="stat-value text-success">Время приготовления</div>
                        <div class="text-muted">{{ recipe.time }} мин</div>
                    </div>
                </div>
            </div>
        </div>

    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Описание</h2>
                {{ markdown(recipe.description) | safe }}
            </div>
        </div>
    </div>
    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Ингредиенты</h2>
                {{ markdown(recipe.ingredients) | safe }}
            </div>
        </div>
    </div>
    <div class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Шаги приготовления</h2>
                {{ markdown(recipe.steps) | safe }}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="view-image">
            <img src="{{ url_for('recipes.send_uploaded_file', filename=files[0].name) }}" class="img-fluid rounded"
            alt="View image" id="viewImage" style="width: 800px; height: 450px;">
        </div>
        <div class="row recipe-gallery">
            {% for i in range(files|length) %}
            <div class="col-4">
                <img src="{{ url_for('recipes.send_uploaded_file', filename=files[i].name) }}" class="img-fluid rounded" alt="Изображение {{ i }}"
                onclick="document.getElementById('viewImage').src=this.src" style="width: 300px; height: 170px;">
            </div>
            {% endfor %}
        </div>
    </div>
    <h2>Отзывы</h2>
    <div class="mb-5 mx-5">
        {% if current_user.is_authenticated and not current_user.get_feedback(recipe.id) %}
        <div class="container p-3" id="leaveFeedback">
            <a href="{{ url_for('recipes.new_feedback', recipe_id=recipe.id) }}" class="btn btn-primary h-100 w-100">Оставить отзыв</a>
        </div>
        {% endif %}
        {% if not feedbacks_info %}
        <p>У этого рецепта нет ни одного отзыва. Но вы можете оставить первый 📝</p>
        {% else %}
        <div class="d-flex flex-column gap-3">
            {% for feedback_info in feedbacks_info %}
            <div class="card">
                <div class="d-flex justify-content-between px-4 py-3">
                    <p class="text-primary">{{ feedback_info[1].name }}</p>
                    <p>{{ {1: 'Плохо', 2: 'Неудовлетворительно', 3: 'Удовлетворительно', 4: 'Хорошо', 5: 'Отлично'}[feedback_info[0].rating] | default('Ужасно') }}</p>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ markdown(feedback_info[0].feedback_text) | safe }}
                        </div>
                        {% if current_user.is_authenticated and ((current_user.get_role_name() == 'admin' or current_user.id == feedback_info[1].id)) %}
                        <div>
                            <a href="{{ url_for('recipes.edit_feedback', recipe_id=recipe.id, feedback_id=feedback_info[0].id) }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" data-feedback-id="{{ feedback_info[0].id }}" data-recipe-id="{{ recipe.id }}"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление отзыва</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить отзыв?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <form method="post" id="deleteModalForm">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='delete_feedback_modal.js') }}"></script>
{% endblock %}
